body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 1rem;
}
#header {
  background-color: grey;
}
#header .navul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#footer {
  background-color: grey;
}
.supprimer {
  color: red;
}
